<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
</head>
<body>
    <% if(newNumber==6){ %>
        <h2> This is number : <%=newNumber%></h2>
    <% } %>
</body>
</html>